{% extends 'user/user-base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block content %}
<style>
.inputs-container {
        height:100vh;
        border:1px solid black;
        display:flex;
        justify-content:center;
        align-items:center;
}


</style>
<div class="inputs-container">
    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;align-content:center;">
        <p class="h4 mb-4">Add package</p>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.destination) }}
            {{ form_row(form.weight) }}
            {{ form_row(form.imageFile)}}
        <button type="submit" class="btn btn-outline-primary waves-effect">Add</button>
    {{ form_end(form) }}
    </div>
</div>

{% endblock %}
