{% extends 'admin/admin-base.html.twig' %}

{% block title %}My Packages{% endblock %}

{% block content %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">destination</th>
            <th scope="col">weight</th>
            <th scope="col">ownerID</th>
            <th scope="col">Status</th>
            <th scope="col">Photo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for package in packages %}
        <tr>
            <th scope="row">{{package.id}}</th>
            <td>{{package.name}}</td>
            <td>{{package.destination}}</td>
            <td>{{package.weight}}</td>
            <td>{{package.owner.firstName}} {{package.owner.lastName}}</td>
            {% if(package.status == false) %}
            <td>In progress</td>
            {% else %}
            <td>Delivered!</td>
            {% endif %}
            <td><a data-toggle="modal" data-target="#{{package.id}}">{{package.image}}</a>
                <!-- Modal --> 
                <div class="modal fade" id="{{package.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img width="150" height="150" src="/images/packages/{{package.image}}"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td><a class="btn btn-warning"
                    href="{{path('change-status-package',{'id':package.id})}}">Change status to delivered!</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}