{% extends 'base.html.twig' %}
{% block body %}
<style>
    .centering-container {
        padding:50px;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }

    .whole-container {
        display:flex;
        flex-direction:column;
        width:100vh;

    }

    .row-container {
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
    }

    .button-class {
        padding-top:20px;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        align-content:center;
    }
</style>
<!-- As a link -->
<nav class="navbar navbar-dark primary-color">
  <a class="navbar-brand" href="{{path('security_login')}}"><i class="fas fa-angle-left"></i></a>
</nav>
<br>
{{ form_start(form) }}
<div class="centering-container">
    <div class="whole-container">
        <h3 style="text-align:center;">Registration</h3>
        <div class="row-container">
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
        </div>
        <div class="row-container">
            {{ form_row(form.age) }}
            {{ form_row(form.email) }}
        </div>
        <div class="row-container">
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
        </div>
        <div class="button-class">
            <button type="submit" class="btn btn-outline-primary waves-effect">Add</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}